html,body {
  font-family: "Arial";
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
}

meni {
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
  max-width: 300px;
  min-width: 300px;
}

korak {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px dashed black;
  padding-bottom: 15px;
  padding-top: 10px;
  display: block;
}

korak:last-child {
  border: 0;
}

#tabelaParkov {
  border-spacing: 0 5px;
  width: 100%;
  font-size: 90%;
}

#tabelaParkov th,
#tabelaParkov td {
  border: 0px;
  vertical-align: top;
  text-align:left;
  padding-right: 10px;
}

button,
input[type="button"] {
  background: #fde7ea;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  color: #a80b1d;
  cursor: pointer;
}

button:hover,
input[type="button"]:hover {
  background: #c30c21;
  color: white;
}

input[type="button"]:disabled {
  color: #a80b1d;
}

input[type="button"]:disabled:hover {
  color: #a80b1d;
  background: #fde7ea;
  cursor: default;
}

telo {
  flex: 1;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;
  background-color: lightgray;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightyellow;
}

img {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fas {
  padding-right: 5px;
  padding-left: 5px;
}

input[type="number"] {
  margin-right: 10px;
  text-align: right;
}

label[for="prvi"],
label[for="drugi"],
label[for="tretji"] {
  font-weight: bold;
  padding-left: 5px;
  cursor: pointer;
}

.desno{
  color: indianred;
  font-family: 'Arial Narrow';
  padding-right: 4px;
  text-align: right;

}

.odmik {
  padding-top: 5px;
  padding-left: 30px;
}

.vsota {
  font-weight: bold;
}

opomba {
  display: block;
  font-size: 80%;
  color: gray;
  padding-bottom: 5px;
}

#najblizjiHotel {
  margin-top: 10px;
}
input[type="number"]:focus{
  color:#a80b1d;
  background-color: #fde7ea;
  font-weight: bold;
}
.rob {
  border: 1px solid transparent;
  border-color: #c30c21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}